* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1;
  font-size: 100%;
  color: #333;
  font-family: "nyt-imperial", Georgia, "Times New Roman", Times, serif;
}
.wrapper {
  border: 2px solid white;

}

.main-section {
  /* border: 2px solid black; */
  width: 100%;
  margin-top: 120px;
}

.nav-bar {
  /* border: 2px solid blue; */
  height: 45px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}
.nav1 {
  display: flex;
  justify-content: space-around;
  flex: 1;
  align-items: center;
}
.svg {
  width: 26%;
  /* background: red; */
  margin: auto;
  height: 25px;
}
.space-cosmos {
  font-size: 14.25px;
  font-weight: 700;
  font-family: "nyt-franklin", helvetica, Arial, sans-serif;
}

.nav1 {
  height: 30px;
  /* border: 2px solid green; */
  width: 30%;
}

.nav-logo {
  height: 30px;
  /* border: 2px solid green; */
  width: 30%;
  margin-left: 5%;
  flex: 3;
}

.nav-btn {
  height: 30px;
  /* border: 2px solid green; */
  width: 30%;
  margin-left: 5%;
  display: flex;
  justify-content: right;
  flex: 1;
}
.btn {
  background: #326891;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 11px;
  padding: 11px 12px 8px;
}
.nav-btn1 {
  width: 120px;
  height: 32px;
}
.nav-btn2 {
  width: 64px;
  height: 32px;
  margin-right: 20px;
  margin-left: 10px;
}

.head-section {
  /* border: 2px solid brown; */
  width: 100%;
}

.title {
  margin-bottom: 30px;
}

.title span {
  display: block;
  /*max-width: 383.777px;*/
  margin: auto;
  color: #121212;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-style: italic;
  width: 50%;
}

.head-image {
  width: 75%;
  margin: auto;
}

.head-image img {
  width: 100%;
}
.img-caption{
  /* border: 1px solid red; */
  width: 75%;
  margin: auto;
  padding: 10px 200px 30px 0;

}

.middle-section {
  /* border: 2px solid cyan; */
  /* height: 600px; */
  margin: auto;
  width: 98%;
  display: flex;
  align-items: center;
  /* position: relative; */
}
.content-header .first {
  /* border: 1px solid red; */
  width: 100%;
  height: 90px;
  
}
.date{
  width: 30%;
  /* border: 1px solid green; */
  height: 90px;
  float: left;
  line-height: 90px;
}
.icons{
  width: 69%;
  /* border: 1px solid blue; */
  height: 90px;
  line-height: 90px;
  text-align: end;
  float: right;
}

.content {
  width: 45%;
  margin: 0 auto;
  /* height: 100%; */
  /* border: 2px solid purple; */
  line-height: 1.875rem;
  font-size: 1.25rem;
}
.article-content p {
  margin-bottom: 10px;
}
.article-content div {
  width: 50%;
  margin: auto;
  text-align: center;
  font-weight: 700;
  line-height: 19px;
  font-size: 15px;
  font-family: "nyt-franklin", helvetica, Arial, sans-serif;
  color: rgb(51, 51, 51);
  padding: 30px;
}

.article-content .southpole {
  width: 100%;
  text-align: left;
}

.article-content .southpole img {
  width: 100%;
}

.video-iframe,
.southpole span {
  font-size: 12px;
  color: gray;
}

.article-content hr {
  width: 30%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 20px;
  border: 0.05px solid rgb(201, 199, 199);
}
.first a {
  display: block;
  text-decoration: none;
  color: rgb(50, 104, 145);
}
.article-content a{
  color: #326891;
}

.editors-pic {
  /* border: 2px solid maroon; */
  /* height: 1000px; */
  width: 18%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  position: absolute;
  right: 60px;
}

.editor {
  display: flex;
  padding-top: 10px;
  align-items: center;

}
.editor1{
  border-top: 1px solid lightgrey;
  padding-top: 10px;
  margin-top: 10px;
  
}
.editor span {
  display: block;
  padding: 10px;
  padding-top: 0;
  font-weight: 500;
  font-family: "nyt-imperial", Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 17px;
  color: rgb(51, 51, 51);
}
.grid-title{
  
  border: 2px solid violet; 
  width: 75%;
  margin: auto;
}
.grid-title span{
  display: block;
  padding: 5px 30px 5px 0;
}
.grid-box {
  width: 75%;
  height: 600px;
  margin: auto;
  background-image: url("../assets/g1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
  align-items: flex-end;
  justify-content: space-between;
}
.grid-item {
  width: 100%;
  /* height: 120px; */
  /* border: 1px solid grey; */
  margin-bottom: 20px;
  line-height: 17px;
  font-weight: 300;
  font-size: 12px;
  font-style: normal;
  font-family: helvetica, sans-serif;
  color: rgb(48, 47, 47);
}
.below-grid{
  width: 75%;
  margin: auto;
}
.below-grid hr{
  color: black;
  width: 7%;
  margin-bottom: 20px;
  margin-top: 30px;
}
.lower-icons{
  border: 1px solid blue;
  width: 100%;
  margin: auto;
  height: 100px;
}
.lower-section {
  width: 40%;
  margin: auto;
}

.top-footer {
  height: 300px;
  width: 90%;
  margin: auto;
}

.middle-section-lower {
  margin: auto;
  width: 100%;
  display: flex;
  padding-left: 7%;
  padding-right: 3%;
}

.middle-section-lower .content-lower {
  width: 852px;
  /* height: 1080px; */
  /* border: 1px solid red; */
}

.middle-section-lower .content-lower span {
  padding: 17px 0px 0px;
  cursor: pointer;
  font-size: 16px;
  font-family: "nyt-franklin", helvetica, Arial, sans-serif;
  font-weight: bold;
}

.middle-section-lower .space-astronomy span:hover {
  text-decoration: underline;
}

.middle-section-lower .content-lower .article-images {
  width: 100%;
  padding-top: 15px;
  height: 687.75px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 10px;

}

.middle-section-lower .grid-item {
  width: 100%;
  height: 280px;
}

.grid-item .image-section {
  width: 100%;
  height: 181.75px;
}

.grid-item .image-section img {
  width: 100%;
  height: 181.75px;
}

.grid-item .author-section {
  width: 100%;
  margin: 3px 0px 0px;
  padding: 0px 0px 4px;
  text-align: right;
}

.grid-item .author-section span {
  font-size: 10px;
  font-family: "nyt-cheltenham small", Georgia, "Times New Roman";
  color: #999999;
}

.grid-item .title-section {
  width: 100%;
}

.grid-item .title-section span {
  color: #121212;
  font-size: 15px;
  font-family: "nyt-cheltenham small", Georgia, "Times New Roman";
}

.grid-item .title-section span:hover {
  color: gray;
}

.grid-item .date-section {
  width: 100%;
  height: 15px;
}

.grid-item .date-section span {
  font-family: "nyt-franklin", helvetica, Arial, sans-serif;
  color: #999999;
  font-size: 12px;
}

.middle-section-lower .editors-pic-lower {
  height: 100%;
  width: 315px;
  padding: 17px 0px 0px;
  margin: 0px 0px 0px 30px;
  border-top: 1px solid black
}

.space-astronomy {
  width: 100%;
  /* background-color: green; */
  border-top: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.most-popular {
  width: 100%;
  height: 39px;
  font-family: "nyt-franklin", helvetica, Arial, sans-serif;
  color: #333333;
  font-weight: bold;
}

.popular {
  width: 100%;
  height: 70px;
  padding: 15px 0px 0px 0px;
  border-top: 1px solid lightgray;
}

.popular span {
  color: #121212;
  font-size: 15px;
  font-weight: bold;
  font-family: "nyt-cheltenham small", Georgia, "Times New Roman";
}

.popular span:hover {
  color: gray;
  cursor: pointer;
}

.lower-grid-section {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
}

.lower-grid-section .grid-item {
  width: 100%;
}

.editors-picks {
  width: 100%;
  border-top: 1px solid black;
  padding: 20px 0px;
}
.hr{
  width: 86%;
  margin-top: 1px;
  margin-bottom: 1px;
  border-color: rgb(226, 221, 221);
  margin: auto;
}

.top-footer {
  display: flex;
  flex-direction: row;
  height: 340px;
  /* border: 2px solid yellow; */
  width: 86%;
  margin: auto;
  border-bottom: 1px solid rgb(226, 221, 221);
}
.top-footer div{
  width: 20%;
}
h3{
  text-transform: uppercase;
  line-height: 15px;
  height: 25px;
  font-weight: 700;
  font-size: 13px;
  font-family: "nyt-franklin", helvetica, Arial, sans-serif;
  color: rgb(51, 51, 51);
}
.top-footer li{
  text-transform: capitalize;
  list-style: none;
  color: rgb(0, 0, 0);
  line-height: 16px;
  height: 23px;
  font-weight: 500;
  font-size: 14px;
  font-family: "nyt-franklin", helvetica, Arial, sans-serif;
  width:200px;
}

.bottom-footer {  
  
  /* height: 100px; */
  /* border: 2px solid orange; */
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}
.bottom-footer ul{
  display: flex;
  flex-direction: row;
}

.bottom-footer li{
  /* display: inline-flex; */
  color: rgb(102, 102, 102);
  font-family: "nyt-franklin", helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
  margin: auto;
  padding: 10px 0;
  
}
.svg-footer{
  margin: 0;
  /* border: 1px solid red; */
  margin-left: 7%;
  margin-bottom: 20px;
  margin-top: 10px;
}
